<nav class="navbar navbar-light  bg-success ">
  <a class="navbar-brand px-md-5" href="#">
    <img src="../../../assets/open-book.png" width="30" height="30" class="d-inline-block align-top" alt="">
    La casita del libro
  </a>
  <ul class="nav px-md-5">
    <li class="nav-item">
      <a class="nav-link active text-white font-weight-bolder" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/libros">Libros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/addLibro">Añadir libro</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/updateLibro">Modificar libro</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/registro">Registro</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/perfil">Perfil</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li> -->
  </ul>
</nav>