<div class="container-fluid bg-light text-center p-3">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active text-black" aria-current="page" href="#">Tweeter</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-black" href="#">Instagram</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-black" href="#">Facebook</a>
    </li>
  </ul>
  <p class="small">&copy; Todos los derechos reservados : : La casita del libro : : España 2022</p>
</div>
