#section__intro{
    width: 100vw;
    height: 550px;
    background-image: url("../../../assets/imagen-background.jpg");
    background-size: cover;
    background-position: center;
}
.espaciador{
    height: 150px;
}
.contenedor-titulo{
    height: 250px;
    background-color: rgba(245, 245, 245, 0.822);
}
h1{
    color: rgb(56, 56, 56);
    text-align: center;
}
