<section id="section__intro">
    <div class="row justify-content-md-center">

        <div class="col-7 espaciador"></div>

        <div class="col-7 p-3 align-self-center contenedor-titulo rounded">

            <h1 class="display-1">El placer de leer</h1>

            <blockquote class="blockquote text-center">
                <p class="mb-0">Quien tenga un libro a su vera, nunca se sentirá solo..</p><br>
                <footer class="blockquote-footer">Manuela Mariscotti en <cite title="Source Title">Memorias de una vida</cite></footer>
            </blockquote>
            
        </div>
    </div>
</section>
